@{
	ViewData["Title"] = "Enrollment Entry";
}

@model StudentPortal.Models.Entities.Students

<h1>Student Information</h1>

<div class="mt-2">
	<form action="/Enrollment/Entry" method="post" id="form">
		<label class="form-label">ID Number</label>
		<input type="text" class="form-control" name="idnumber" value="@ViewBag.ID" required />
		<button type="submit" class="btn btn-primary mt-2">Search</button>
	</form>

	@if (ViewBag.Message == "Student not found.")
    {
        <div class="alert alert-danger mt-2">
			<p class="my-0">@ViewBag.Message</p>
		</div>
	}
	else if (ViewBag.Message == "Student found.")
	{
		<div class="alert alert-success mt-2">
			<p class="my-0">@ViewBag.Message</p>
		</div>
	}
</div>

@if (Model != null)
{
	var name = Model.StudLName + ", " + Model.StudFName;
	if(Model.StudMName != String.Empty)
	{
		name = Model.StudLName + ", " + Model.StudFName + " " + Model.StudMName.ToString().ElementAt(0) + ".";
	}

	<div class="mt-auto">
		<fieldset>
			<label class="form-label mt-1" for="readOnlyInput">Name</label>
			<input class="form-control" id="name" type="text" placeholder="@name" readonly="">
		</fieldset>
	</div>

	<div class="mt-auto">
		<fieldset>
			<label class="form-label mt-3" for="readOnlyInput">Course</label>
			<input class="form-control" id="course" type="text" placeholder="@Model.StudCourse" readonly="">
		</fieldset>
	</div>

	<div class="mt-auto">
		<fieldset>
			<label class="form-label mt-3" for="readOnlyInput">Year</label>
			<input class="form-control" id="year" type="text" placeholder="@Model.StudYear" readonly="">
		</fieldset>
	</div>
}