@{
	ViewData["Title"] = "Enrollment Entry";
}

@model StudentPortal.Models.EnrollmentViewModel

<h1>Student Information</h1>

<div class="mt-2">
	<form action="/Enrollment/Entry" method="post" id="form">
		<label class="form-label">ID Number</label>
		<input type="number" class="form-control shadow-lg" name="idnumber" value="@ViewBag.ID" required />
		<button type="submit" class="btn btn-primary mt-2">Search</button>
	</form>

	@if (ViewBag.Message == "Student not found.")
	{
		<div class="alert alert-danger mt-2">
			<p class="my-0">@ViewBag.Message</p>
		</div>
	}
	else if (ViewBag.Message == "Student found.")
	{
		<div class="alert alert-success mt-2">
			<p class="my-0">@ViewBag.Message</p>
		</div>
	}
</div>

@if (Model is not null)
{
	var name = Model.Students.StudLName + ", " + Model.Students.StudFName;
	if (Model.Students.StudMName is not null)
	{
		name += " " + Model.Students.StudMName.ToString().ElementAt(0) + ".";
	}

	<div class="mt-auto">
		<fieldset>
			<label class="form-label mt-1" for="readOnlyInput">Name</label>
			<input class="form-control" id="name" type="text" placeholder="@name" readonly="">
		</fieldset>
	</div>

	<div class="mt-auto">
		<fieldset>
			<label class="form-label mt-3" for="readOnlyInput">Course</label>
			<input class="form-control" id="course" type="text" placeholder="@Model.Students.StudCourse" readonly="">
		</fieldset>
	</div>

	<div class="mt-auto">
		<fieldset>
			<label class="form-label mt-3" for="readOnlyInput">Year</label>
			<input class="form-control" id="year" type="text" placeholder="@Model.Students.StudYear" readonly="">
		</fieldset>
	</div>

	<div class="row align-items-center mt-3">
		<form id="searchForm">
			<div class="col-md-7">
				<label class="form-label">EDP Code</label>
				<input type="number" class="form-control shadow-lg" name="edpcode" id="edpcode" required />
			</div>

			<div class="col-md-3 text-start">
				<button type="submit" class="btn btn-primary" onclick="searchSchedules()">Search</button>
			</div>
		</form>
	</div>

	<form asp-action="EnrollStudent" asp-controller="Enrollment">
		<div class="mt-3">
			<table class="table table-responsive table-bordered table-light shadow-lg mt-3" id="enrollmenttable">
				<thead>
					<tr>
						<th scope="col">EDP Code</th>
						<th scope="col">Subject Code</th>
						<th scope="col">Time</th>
						<th scope="col">Days</th>
						<th scope="col">Room</th>
						<th scope="col">Category</th> <!-- From Subject Table-->
						<th scope="col">Units</th> <!-- From Subject Table-->
					</tr>
				</thead>
				<tbody>
					<!-- Javascript will insert new rows-->
				</tbody>
				<tfoot>
					<tr>
						<th style="text-align: right;" colspan="7" id="totalunits">Total Units: 0</th>
					</tr>
				</tfoot>
			</table>
		</div>

		<div class="mt-3">
			<button type="submit" id="enrollmentbutton" class="btn btn-primary">Enroll</button>
		</div>
	</form>
	
}

@section Scripts {
	<script>
		let search = false;
		let subjectscount = 0;
		let unitscount = 0;
		// Serializing C# list to JSON and passing it to JavaScript
		const schedules = @Html.Raw(Json.Serialize(Model?.Schedules));
		const subjects = @Html.Raw(Json.Serialize(Model?.Subjects));

		document.getElementById("enrollmentbutton").disabled = true;

		document.getElementById('searchForm').addEventListener('submit', function (event) {
			event.preventDefault(); // Prevent the form from submitting and refreshing the page
		});
	</script>
	<script src="~/js/enrollment.js"></script>
}