@{
	ViewData["Title"] = "Subject Entry";
}

@model StudentPortal.Models.SubjectsViewModel

<h1>Subject Information</h1>

<!--
	i need to clean the parts of subjectcontroller, and this entry

	the migration of including composite keys are now complete but the problem is, it will violate the primary key 1
		i somehow need to fix this in order not to see the error page.

		fix: manually change the design of the dbo.Student in SSMS

	i also need to add requisite information connected with the first form
-->

@if (ViewBag.Message == "Subject Code is already registered.")
{
	<div class="alert alert-danger mt-3">
		<p class="my-0">@ViewBag.Message</p>
	</div>
}
else if (ViewBag.Message == "Subject added.")
{
	<div class="alert alert-success mt-3">
		<p class="my-0">@ViewBag.Message</p>
	</div>
}

<form method="post" id="form">
	<div class="mt-3">
		<label class="form-label">Subject Code</label>
		<input type="text" style="text-transform: uppercase;" id="code" class="form-control" name="subjectcode" asp-for="SubjCode" required />
	</div>

	<div class="mt-3">
		<label class="form-label">Description</label>
		<input type="text" style="text-transform: uppercase;" class="form-control" name="subjdesc" asp-for="SubjDesc" required />
	</div>

	<div class="mt-3">
		<label class="form-label">Units</label>
		<input type="number" class="form-control" name="subjunits" asp-for="SubjUnits" required />
	</div>

	<div class="mt-3">
		<label class="form-label">Offering</label>
		<select id="offering" class="form-select" name="subjregofrng" asp-for="SubjRegOfrng">
			<option value="1">First Semester</option>
			<option value="2">Second Semester</option>
			<option value="3">Summer</option>
		</select>
	</div>

	<div class="mt-3">
		<label class="form-label">Category</label>
		<select id="category" class="form-select" name="subjcategory" asp-for="SubjCategory">
			<option value="LEC">Lecture</option>
			<option value="LAB">Laboratory</option>
		</select>
	</div>

	<div class="mt-3">
		<label class="form-label">Course Code</label>
		<select id="coursecode" name="coursecode" class="form-select" asp-for="SubjCourseCode">
			<option value="BSIT">BSIT</option>
			<option value="BSIS">BSIS</option>
			<option value="BSN">BSN</option>
		</select>
	</div>

	<div class="mt-3">
		<label class="form-label">Curriculum Year</label>
		<input type="text" class="form-control" name="subjcurrcode" asp-for="SubjCurrCode" required />
	</div>

	<h1 class="mt-3">Requisite Information</h1>
	<div class="mt-3">
		<label class="form-label">Subject Code</label>
		<input type="text" style="text-transform: uppercase;" class="form-control" name="reqsubjectcode" />
		<button type="submit" class="btn btn-primary" onclick="search()" formnovalidate>Search</button>
	</div>

	

	<div class="mt-3">
		<div class="form-check">
			<input class="form-check-input" type="radio" name="requisitetype" id="prerequisite" value="PR">
			<label class="form-check-label" for="prerequisite">
				Pre-Requisite
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="requisitetype" id="corequisite" value="CR">
			<label class="form-check-label" for="corequisite">
				Co-requisite
			</label>
		</div>
	</div>

	@if (ViewBag.RequisiteInfo == "Requisite not null.")
	{
		<div class="mt-3">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Subject Code</th>
						<th scope="col">Description</th>
						<th scope="col">Units</th>
						<th scope="col">Co/Pre</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">@ViewBag.SubjCode</th>
						<td>@ViewBag.SubjDesc</td>
						<td>@ViewBag.SubjUnits</td>
						<td>@ViewBag.SubjCategory</td>
				</tbody>
			</table>
		</div>
	}
	else if (ViewBag.RequisiteInfo == "Requisite null.")
	{
		<p>hello world</p>
	}

	<div class="mt-3">
		<button type="submit" class="btn btn-primary">Save</button>
		<button type="button" class="btn btn-danger" onclick="clearForm()">Cancel</button>
	</div>

</form>

<script>
	function clearForm() {
		document.getElementById("form").reset();
	}

	function search() {
		document.getElementById("code").innerHTML = ""
	}
</script>
